/*
html, body {
  height: 100%;
	width: 100%;
  margin: 0;
  padding: 0;
}
*/ 

.body{
	font-family: 'IBM Plex Sans', sans-serif;
    width: auto;
	background: #F2F3F4;
}

/* IMMAGINE DI SFONDO PROVA
body {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
  height: 100%;
  background: rgba(242, 243, 244, 0.0) url('/Users/simone/Desktop/eurotherm-main/www/bg-panel.png') no-repeat center bottom;
  background-size: auto;
}
*/ 

.form-group {
    flex-wrap: wrap; /* Per gestire il wrapping dei div quando lo spazio è insufficiente */ 
	margin: 0 auto;
	display: flex;
  	align-items: center;
	justify-content: center;
	font-family: 'IBM Plex Sans', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  height: 100px !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

.box-testo {
	font-family: 'IBM Plex Sans', sans-serif !important;
}

.left {
  /* Allinea il primo div (con l'immagine) a sinistra */
	margin-left: 80px;
}

.center {
  /* Allinea il secondo div (con i link) al centro */
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  /* Allinea il secondo div (con i link) al centro */
  display: flex;
  padding-left: 0px;
  margin-left: 0px;
  gap: 15px;
}


.right {
  /* Allinea il terzo div (con le immagini ita e eng) a destra */
	margin-right: 80px;
}

.ita {
	margin-right: 8px;
	
}
.box {
	 font-family: 'IBM Plex Sans', sans-serif;
	border-radius: 5px;
	padding: 5px;
}

.icona {
	margin-right: 5px;
}

.p {
	 font-family: 'IBM Plex Sans', sans-serif; 
}

.strong {
    font-weight: bolder;
    font-family: 'IBM Plex Sans', sans-serif;
}


a.flex-sm-fill.text-sm-center.nav-link.active {
	color: #FFFFFF;
	background-color: #dc3545;
}

a.flex-sm-fill.text-sm-center.nav-link {
	color: gray;
}


.container h2 {
	color: yellow;
}

button#submit {
    margin: 0 auto;
}

input#dxfinput {
    margin: 0px;
    width: auto;
}

.label {
    display: block;
    float: left;
    width: 230px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.label, input, p#ra, p#rg, p#out, #cli_name, #cli_address, #cli_company,  {
     font-family: 'IBM Plex Sans', sans-serif;
   
}

.header {
	background: white;
    color: white;
}


h1 {
    text-align: left;
    margin-left: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
    padding: 0px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 16px;
}

.section {
	flex: 1;
    text-align: left;
    padding: 20px;
	width: auto;
    max-width: 1000px; /* You can adjust this value based on your design preferences */
    margin: 30px; /* This will center the div horizontally */
    border: 1px solid #ccc; /* Just for demonstration purposes */
	border-radius: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
}


.placeholder {
	width: auto;
	height: 30px;
	font-size: 14px;
	border-radius: 5px;
	padding: 8px;
	border: 1px solid;
}

.placeholder#height {
	width: 45px !important;
}

.spunta {
	margin-right: 10px;
}
.section span {
	width: 200px;
	display: inline-block;
	margin: 2px;
}

.section elem{
	display: inline-block;
	font-size: 12px;
	padding-left: 10px;
	width: 320px;
}

.section filetag {
	display: inline-block;
	color: #7d4646; 
	font-size: 18px;
	width: 40px;
}

.section date{
	font-size: 12px;
}

.section refs{
	display: inline-block;
	width: 120px;
}

.section ref{
	font-size: 12px;
	margin-left: 20px;
}

.section li {
	list-style: none;
}

.section li:hover {
	background: navajowhite;
}

.section ul {
	padding-left: 20px;
}

.section select {
	font-size: 14px;
	height: 30px;
}

.section p#mtype {
	margin: 2px;
	padding-left: 30px;
	font-size: 12px;
}

.section pre {
	width: 590px;
    padding: 0px;
    margin: 0px;
	margin-left: 40px;
}

.section h4 {
    padding: 0px;
    margin: 0px;
	margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
   
}

.section p#suggest {
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 12px;
}

.btn {
	font-family: 'IBM Plex Sans', sans-serif;
}

input#dxfinput {
    margin: 0px;
    width: auto;
}

.input .placeholder #height {
	width: auto;
}

label {
    display: block;
    float: left;
    width: 150px;
	font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
   
}

.header {
    background: white;
    color: white;
	font-family: 'IBM Plex Sans', sans-serif;
   
}



h3 {
    padding: 0px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
   
}


input#dxfinput {
    margin: 0px;
    width: auto;
	font-family: 'IBM Plex Sans', sans-serif;
   
}

label {
    display: block;
    float: left;
    width: 150px;
	font-size: 15px;
	font-family: 'IBM Plex Sans', sans-serif;
   
}


h1 {
    text-align: left;
    margin-left: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
   
}

h3 {
    padding: 0px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
   
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    margin-right: 20px;
}

/* .file_list, .floorplan { */
/* 	display: flex; */
/* 	flex-wrap: wrap; */
/* 	gap: 10px; */
/* } */

.file_list {
	width: 60%;
}


.section_dup {
	display: flex;
    text-align: left;
    padding: 20px;
	width: auto;
    max-width: 1000px; 
    margin: 30px; /* This will center the div horizontally */
    border: 1px solid #ccc; /* Just for demonstration purposes */
	border-radius: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.floorplan {
	width: 40%;
	border: 4px solid #ccc;
}



table {
  width: 80%; /* Or a fixed width like 400px */
  margin: 0 auto; /* Centers the table horizontally */
  border-collapse: collapse;
}

